body
{
	font-family: 'Poppins', sans-serif;
	background-color: #131316;
	padding: 0px;
	margin: 0px;
}



/*----------header-----------*/

#header
{
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("img/trophy.jpg");
	background-size: cover;
}

@media screen and (max-width: 480px) {
    #header {
    	height: 100vh;
		background: #2c2c36;
		/*background-size: cover;*/
    }
}

.nav-bar
{
	top: 0;
	position: sticky;
	z-index: 2;
}

.navbar
{
	background-color: #0a0a0b;
}

.nav-bar .fa-bars
{
	font-size: 35px;
	color: #fff
}

.navbar-toggler
{
	outline: none !important;
}

.navbar-nav
{
	float: left;
	text-align: left;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 5px; 
	font-size: 15px; 
}

.nav-link
{
	color: #fff !important;
}

.nav-item
{
	text-align: left;
}

.user-box
{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.user-box h1
{
	color: #ffff;
	margin: 10px;
	font-family: 'Poppins', sans-serif;
	float: right; 
	margin-left: 1000px;
	font-size: 40px; 
	letter-spacing: 5px; 
	position: relative;
	left: 75px;
	bottom: 185px; 
}

/*.user-box p
{
	color: #ffff;
	margin: 10px;
}
*/

@media screen and (max-width: 480px) {
	.user-box {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		/*position: relative;*/
		width: 50%;
	}

}

@media screen and (max-width: 480px) {
    .user-box h1 {
    	text-align: center;
    	color: #ffff;
    	font-family: 'Poppins', sans-serif;
    	font-size: 40px; 
		letter-spacing: 5px; 
		top: 30px;
		right: 1650px;
		left: -100px; 
		width: 50%;
    }
}

/*----------------ABOUT------------------*/

.about
{
	padding-top: 100px;
	margin-bottom: -130px;
	background: #131316;
}


.profile-img
{
	height: 500px;
	display: relative;
	position: relative;
	margin-bottom: 180px;
	margin-top: -50px;
	margin-left: -125px;
}

@media screen and (max-width: 480px) {
    .profile-img {
    	/*max-width: 50%;*/
    	/*height: auto; */
    	display: none;
    }
}

.about h1
{
	color: #fff;
	font-family: 'Poppins', sans-serif;
	position: relative;
	bottom: 80px;
	letter-spacing: 5px;
	font-weight: bold; 
}

@media screen and (max-width: 480px) {
	.about h1 {
		color: #fff;
		font-family: 'Poppins', sans-serif;
		position: relative;
		bottom: 100px;
		letter-spacing: 5px;
		font-weight: bold; 
	}

}

.about h3
{
	color: #fff;
	font-family: 'Poppins', sans-serif;
	position: relative;
	bottom: 25px;
	left: 475px; 
	width: 50%;
}

@media screen and (max-width: 480px) {
	.about h3 {
		/*color: #fff;
		font-family: 'Poppins', sans-serif;
		position: relative;
		bottom: 25px;
		left: 475px; 
		width: 50%;*/
		display: none;
	}
}

.about p
{
	color: #fff;
	font-family: 'Poppins', sans-serif;
	position: relative;
	bottom: 25px; 
	left: 125px; 
	padding:16px 24px 20px 24px; 
	background-color: #38383d; 
	border: #131316 2px;
}

@media screen and (max-width: 480px) {
	.about p {
		color: #fff;
		font-family: 'Poppins', sans-serif;
		position: relative;
		bottom: 125px; 
		right: 1000px; 
		left: -75px;
		/*height: 50%;*/
		width: 100%;
	}
}


/*--------Work Experience--------*/

.work
{
	margin-top: -50px;
	padding-top: 50px;
	padding-bottom: 30px;
	background: #2c2c36;
}

.work h1{
	color: #f9f9f9;
	font-family: 'Poppins', sans-serif;
	font-weight: bold; 
	padding-bottom: 20px; 
	letter-spacing: 5px; 
}

.work h3
{
	margin-bottom: 50px;
	color: #f9f9f9;
}

.timeline{
	position: relative;
	margin: 50px auto;
	width: 1000px;
	padding: 40px 0; 
}

.timeline ul{
	margin: 0;
	padding: 0;
}

.timeline ul li{
	list-style: none;
	position: relative;
	width: 50%;
	padding: 20px 40px;
	box-sizing: border-box;
	line-height: normal;
}


.timeline:before{
	content: '';
	position: absolute;
	left: 50%;
	width: 2px;
	height: 100%;
	background: #c5c5c5;
}

@media screen and (max-width: 480px) {
	.timeline:before{
		/*content: '';
		position: absolute;
		left: 50%;
		width: 2px;
		height: 100%;
		background: #c5c5c5;*/
		display: none; 
		list-style-type: none;
	}


}

.timeline ul li:nth-child(odd){
	float: left;
	text-align: left;
	clear: both;
}

.timeline ul li:nth-child(even){
	float: right;
	text-align: left;
	clear: both;
}

@media screen and (max-width: 480px) {
	.timeline ul li:nth-child(even){
		float: left;
		text-align: left;
		clear: both;
	}
}

.content
{
	padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before
{
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	background: #666;
	border-radius: 50%;
	top: 24px;
	right: -6px; 
	box-shadow: 0 0 0 3px #888 0.2;
}

.timeline ul li:nth-child(even):before
{
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	background: #666;
	border-radius: 50%;
	top: 24px;
	left: -4px; 
	box-shadow: 0 0 0 3px #888 0.2;
}

.timeline ul li h3
{
	margin: 0;
	padding: 0;
	font-size: 22px; 
	font-family: 'Poppins', sans-serif;
}

.timeline ul li p
{
	margin: 10px 0 0;
	padding: 0;
	font-size: 12px; 
	color: #f9f9f9; 
	font-family: 'Poppins', sans-serif;
}

.image-work {
		display: none;
}

/*-----------------Education-------------------*/

.education 
{
	padding-top: 50px;
	padding-bottom: 50px;
	background: #131316;
	color: #fff;
	font-family: 'Poppins', sans-serif;
}

.education h1
{
	margin-bottom: 15px;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 5px; 
}

.education-box
{
	background: #131316;
	font-family: 'Poppins', sans-serif;
	padding: 10px;
	margin-top: 20px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
}

.education-box .fa
{
	margin: 0 10px;
	font-size: 20px; 
	color: #fff; 


}

.education-box span
{
	margin: 3px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	font-family: 'Poppins', sans-serif;
}

.education-box p
{
	font-size: 15px;
	margin-top: 20px;
	color: #fff;
	font-family: 'Poppins', sans-serif;
}

.education-box:hover
{
	background: #c0c1c0;
	color: #131316;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	transition: 1s;
}

.education-box:hover p
{
	color: #131316;
}

.education-box .fa:hover p
{
	color: #131316;
}

.education-box:hover p
{
	color: #131316;
}

.emory-img-area 
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding-top: 25px;
}
/*-----Contact Me---------*/

.contact 
{
	padding-top: 50px;
	background: #2c2c36;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 5px; 
}

.contact .row
{
	padding: 30px 0;
	font-size: 22px;
	font-family: 'Poppins', sans-serif;
}

.contact .col-md-4 .fa
{
	padding: 10px;
	font-size: 40px;
}

.contact .btn
{
	padding: 10px 25px 10px 25px;
	margin: 5px;
	border-radius: 30px;
	border: 2px solid #fff;
	background: transparent;
}

.contact .btn:focus
{
	box-shadow: none !important;
}

.contact .btn:hover
{
	border: 2px solid #000 !important;
	background: #000;
	transition: 0.6s;
}

.contact .btn .fa
{
	margin-right: 10px;
}

.footer
{
	background: #2c2c36;
	height: 50px;
	margin-top: 50px;
	color: #fff;
	padding-top: 10px;
}